.bottom-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bottom-nav ul li {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.icon {
  font-size: 1.7rem;
}

.active {
  color: #FA314A !important;
}
