* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  width: 320px;
  background-color: #ffffff;
  margin: 0 auto;
}

li {
  list-style-type: none;
  cursor: pointer;
}
