.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.top-nav-links ul {
  display: flex;
  flex-direction: row;
  
}

.logo li {
  color: #EE1E79;
  font-size: 1.3rem;
}

.person {
  color: #FFFFFF;
  border: 1px solid #FB5267;
  background: #FB5267;
  border-radius: 50px;
  padding: 0px 0px;
  font-size: 1.3rem;
  font-weight: bold;
}

.bell {
  color: #FB5267;
  font-size: .8rem;
}
